* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-header{
    display: flex;
}

body{
    background-color: white;
    overflow-x: hidden;
}

.logo{
    margin-top: 30px;
    margin-left: 50px;
    width: 165px;
}

.logo img{
    width: 137px;
}