.sections {
  display: flex;
  justify-content: center; /* Центрует содержимое */
  padding: 0 5%;           /* Одинаковые отступы слева и справа */
  width: 100%;
  box-sizing: border-box;  /* Чтобы padding не ломал ширину */
  flex-direction: column;
  align-items: center;
}

.section1 {
  width: 100%;
  max-width: 1200px;       /* Чтобы контент не растягивался слишком */
}

.section1_title {
    background-color: #E2B013;
    width: 12%;
    min-width: 150px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;     /* по вертикали */
    text-align: center;
}

.section1_title h4 {
    margin: 0; /* убрать отступы браузера */
}

/* .section1_content{
    margin-top: 150px;
} */


.section1_header{
    font-size: 55px;
    font-weight: 800;
}

.section1_description{
    font-size: 40px;
}

.section1_description2{
    font-size: 22px;
    margin-top: 40px;
}

.section1_cards{
    display: flex;
    width: 522px;
    height: auto;
    margin-top: 50px;
}

.card{
    margin-right: 15px;
    text-align: center;
    width: 81px;
    font-size: 11px;
}

.section1_photo_wrapper{
    min-width: 728px;
    height: 785px;
}

.section1_photo{
    width: 100%;
}

.section1_wrapper{
    display: flex;
    position: static;
    justify-content: space-between;
    gap: 50px;
}

.section1_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* или 100% от нужной высоты */
  position: relative;
}

.line1, .line2, .line3, .line4{
    display: flex;
    flex-direction: column;
}

.line1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 100%;
}

.section2_cards .card{
    color: white;
    background-color: black;
    /* width: auto; */
    min-width: 130px;
}

.section2_cards p{
    font-size: 14px;
    padding: 10px 0px;
}

.section2_cards{
    width: 100%;
}

.line2, .line3, .line4{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 100%;
    margin-top: 10px;
}

.section2_cards{
    margin-top: 30px;
}